<!DOCTYPE html>
<html lang="es" class="no-js">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="Mauro" content="Personal">
  <meta name="keywords" content="">
  <meta charset="UTF-8">

  <!-- Favicon -->
  <link rel="shortcut icon" href="..\static\core\media\img\Usuarios.png"> 
  <!-- Título de la Web -->
  <title>Contacto - Personal</title>
  <!-- Fuentes -->
  <link href="..\static\core\css\Fuentes.css" rel="stylesheet">
  <!-- Opción 2 de Fuentes (WEB) -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
  <!-- Linear Icons Web, Estilos, fuentes, bootstrap -->
  <!-- Opción 1 de LinearIcons -->
    <!-- <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css"> -->
  <!-- Opción de LinearIcons - Referenciando en CSS que apunta a la web -->
  <link rel="stylesheet" href="..\static\core\css\LinearIcons.css">
  <link rel="stylesheet" href="..\static\core\css\font-awesome.min.css">
  <link rel="stylesheet" href="..\static\core\css\bootstrap.css">
  <link rel="stylesheet" href="..\static\core\css\magnific-popup.css">
  <link rel="stylesheet" href="..\static\core\css\nice-select.css">
  <link rel="stylesheet" href="..\static\core\css\animate.min.css">
  <link rel="stylesheet" href="..\static\core\css\owl.carousel.css">
  <link rel="stylesheet" href="..\static\core\css\main.css">
</head>

<body>
  <header id="header">
    <div class="container main-menu">
      <div class="row align-items-center justify-content-between d-flex">
        <div id="logo">
          <a href="#"><img src="..\static\core\media\img\LogoPersonal 2.png" alt="Imagen Logo Personal" /></a>
      </div>
        <nav id="nav-menu-container">
          <ul class="nav-menu">
            <li><a href="Index.html">Inicio</a></li>
            <li><a href="Nosotros.html">Nosotros</a></li>
            <li><a href="Servicios.html">Servicios</a></li>
            <li><a href="Perfil.html">Perfil</a></li>

            <!-- Menú con Opciones
                 <li class="menu-has-children"><a href="">Links</a>
                    <ul>
                      <li><a href="">Enlace 1</a></li>
                        <li class="menu-has-children"><a href="">Otras Opciones </a>
                          <ul>
                            <li><a href="#">Opción 1</a></li>
                            <li><a href="#">Opción 2</a></li>
                          </ul>
                        </li>
                    </ul>
                  </li> 
            -->
              <li><a href="Contacto.html">Contacto</a></li>
            </ul>
          </nav>
        </div>
      </div>
  </header>

  <section class="banner-area">
    <div class="container">
      <div class="row fullscreen align-items-center justify-content-between">
        <div class="col-lg-6 col-md-6 banner-left">
            <h1>Contacto</h1>
            <p>
              Formulario de Contacto
          </p>
          <!-- pendiente hipervínculo-->
          <a href="#" class="primary-btn text-uppercase">Escríbenos!</a>
        </div>
        <div class="col-lg-6 col-md-6 banner-right d-flex align-self-top">
          <img class="img-fluid" src="..\static\core\media\img\HV1.png" alt="Curriculum">
        </div>
      </div>
    </div>
  </section>



<!-- Área de pie de Página al Final, Derechos reservados y Noticias-->
<footer class="footer-area section-gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-6 col-sm-6">
        <div class="single-footer-widget">

          <h4>Sobre Nosotros!
            <br>
            Andrés Mauricio & Felipe Wolf 
          </h4>
          <p>
            Te brindamos la posibilidad de montar tu Hoja de Vida para <br>
            que la edites sobre una de las plantillas que tenemos en el sitio.
          </p>
          <p class="footer-text">
            Copyright &copy;<script type="e66df11062c981cd3edf12a2-text/javascript">document.write(new Date().getFullYear());</script> Todos los derechos reservados <font color= white> Wolf & Mauro</font>.
          </p>
        </div>
      </div>

      <!--Sección Noticias del Pie de Página-->
      
      <div class="col-lg-5 col-md-6 col-sm-6">
        <div class="single-footer-widget">
          <h4>Noticias</h4>
          <p>Ingresa tu correo para mantenerte actualizado</p>
          <div class="" id="mc_embed_signup">
            <form target="_blank" action="#" method="get">
              <div class="input-group">
                <input type="text" class="form-control" name="EMAIL" placeholder="Ingresa tu E-Mail" onfocus="if (!window.__cfRLUnblockHandlers) return false; this.placeholder = ''" onblur="if (!window.__cfRLUnblockHandlers) return false; this.placeholder = 'Ingresa tu E-Mail '" required="" type="email" data-cf-modified-e66df11062c981cd3edf12a2-="">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit">
                    <span class="lnr lnr-arrow-right"></span>
                  </button>
                </div>

<!-- Síguenos en Redes Sociales

                <div class="info"></div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-md-6 col-sm-6 social-widget">      
          <div class="single-footer-widget">
          <h4>Follow Me</h4>
          <p>Let us be social</p>
          <div class="footer-social d-flex align-items-center">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-behance"></i></a>
          </div> 
        
        -->
        
        </div>
      </div>
    </div>
  </div>
</footer>

<script src="..\static\core\js\jquery-3.4.1.min.js" type="e66df11062c981cd3edf12a2-text/javascript"></script>
<script src="..\static\core\js\popper.min.js" type="e66df11062c981cd3edf12a2-text/javascript"></script>
<script src="..\static\core\js\bootstrap.min.js" type="e66df11062c981cd3edf12a2-text/javascript"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA" type="e66df11062c981cd3edf12a2-text/javascript"></script>
<script src="..\static\core\js\easing.min.js" type="e66df11062c981cd3edf12a2-text/javascript"></script>
<script src="..\static\core\js\hoverIntent.js" type="e66df11062c981cd3edf12a2-text/javascript"></script>
<script src="..\static\core\js\superfish.min.js" type="e66df11062c981cd3edf12a2-text/javascript"></script>
<script src="..\static\core\js\jquery.ajaxchimp.min.js" type="e66df11062c981cd3edf12a2-text/javascript"></script>
<script src="..\static\core\js\jquery.magnific-popup.min.js" type="e66df11062c981cd3edf12a2-text/javascript"></script>
<script src="..\static\core\js\jquery.tabs.min.js" type="e66df11062c981cd3edf12a2-text/javascript"></script>
<script src="..\static\core\js\jquery.nice-select.min.js" type="e66df11062c981cd3edf12a2-text/javascript"></script>
<script src="..\static\core\js\isotope.pkgd.min.js" type="e66df11062c981cd3edf12a2-text/javascript"></script>
<script src="..\static\core\js\waypoints.min.js" type="e66df11062c981cd3edf12a2-text/javascript"></script>
<script src="..\static\core\js\jquery.counterup.min.js" type="e66df11062c981cd3edf12a2-text/javascript"></script>
<script src="..\static\core\js\simple-skillbar.js" type="e66df11062c981cd3edf12a2-text/javascript"></script>
<script src="..\static\core\js\owl.carousel.min.js" type="e66df11062c981cd3edf12a2-text/javascript"></script>
<script src="..\static\core\js\mail-script.js" type="e66df11062c981cd3edf12a2-text/javascript"></script>
<script src="..\static\core\js\main.js" type="e66df11062c981cd3edf12a2-text/javascript"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13" type="e66df11062c981cd3edf12a2-text/javascript"></script>
<script type="e66df11062c981cd3edf12a2-text/javascript">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/95c75768/cloudflare-static/rocket-loader.min.js" data-cf-settings="e66df11062c981cd3edf12a2-|49" defer=""></script></body>
</html>