<!DOCTYPE html>
<html lang="es" class="no-js">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="Mauro" content="Personal">
  <meta name="keywords" content="">
  <meta charset="UTF-8">

  <!-- Favicon -->
  <link rel="shortcut icon" href="..\static\core\media\img\Usuarios.png"> 
  <!-- Título de la Web -->
  <title>¨Perfil - Personal</title>
  <!-- Fuentes -->
  <link href="..\static\core\css\Fuentes.css" rel="stylesheet">
  <!-- Opción 2 de Fuentes (WEB) -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
  <!-- Linear Icons Web, Estilos, fuentes, bootstrap -->
  <!-- Opción 1 de LinearIcons -->
    <!-- <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css"> -->
  <!-- Opción de LinearIcons - Referenciando en CSS que apunta a la web -->
  <link rel="stylesheet" href="..\static\core\css\LinearIcons.css">
  <link rel="stylesheet" href="..\static\core\css\font-awesome.min.css">
  <link rel="stylesheet" href="..\static\core\css\bootstrap.css">
  <link rel="stylesheet" href="..\static\core\css\magnific-popup.css">
  <link rel="stylesheet" href="..\static\core\css\nice-select.css">
  <link rel="stylesheet" href="..\static\core\css\animate.min.css">
  <link rel="stylesheet" href="..\static\core\css\owl.carousel.css">
  <link rel="stylesheet" href="..\static\core\css\main.css">
</head>

<body>
  <header id="header">
    <div class="container main-menu">
      <div class="row align-items-center justify-content-between d-flex">
        <div id="logo">
          <a href="#"><img src="..\static\core\media\img\LogoPersonal 2.png" alt="Imagen Logo Personal" /></a>
      </div>
        <nav id="nav-menu-container">
          <ul class="nav-menu">
            <li><a href="Index.html">Inicio</a></li>
            <li><a href="Nosotros.html">Nosotros</a></li>
            <li><a href="Servicios.html">Servicios</a></li>
            <li><a href="Perfil.html">Perfil</a></li>

            <!-- Menú con Opciones
                 <li class="menu-has-children"><a href="">Links</a>
                    <ul>
                      <li><a href="">Enlace 1</a></li>
                        <li class="menu-has-children"><a href="">Otras Opciones </a>
                          <ul>
                            <li><a href="#">Opción 1</a></li>
                            <li><a href="#">Opción 2</a></li>
                          </ul>
                        </li>
                    </ul>
                  </li> 
            -->
              <li><a href="Contacto.html">Contacto</a></li>
            </ul>
          </nav>
        </div>
      </div>
  </header>

  <section class="banner-area">
    <div class="container">
      <div class="row fullscreen align-items-center justify-content-between">
        <div class="col-lg-6 col-md-6 banner-left">
            <h6>Carga de</h6>
            <h1>Perfiles</h1>
            <p>
              Cargar información personal
          </p>
          <!-- pendiente hipervínculo-->
          <a href="#" class="primary-btn text-uppercase">Descubre Cómo !</a>
        </div>
        <div class="col-lg-6 col-md-6 banner-right d-flex align-self-top">
          <img class="img-fluid" src="..\static\core\media\img\HV1.png" alt="Curriculum">
        </div>
      </div>
    </div>
  </section>

  <!-- Sección de Foto de Perfil Mauro -->
  <section class="home-about-area pt-30">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-5 col-md-5 home-about-center">
          <img class="img-fluid" src="..\static\core\media\img\Mao2.jpg" width="300" height="250" alt="Imagen de Perfil">
        </div>

        <!-- Descripción sobre el perfil Mauro -->
        <div class="col-lg-7 col-md-1 home-about-right">  
          <h2 class="text-uppercase">Andrés Mauricio Monsalve</h2>
          
          <p>
            <br> Oriundo de Medellín, nacido el 3 de Enero de 1987. <br>
            <i> Bachiller Académico</i> de la <b> <font color= black>Institución Educativa Félix de Bedout Moreno </font> </b> 
            ubicada en Pedregral, <i>Técnico en Sistemas</i> graduado del <b> <font color= black> CESDE </font> </b> en el 2005. 
            Inicié <i> estudios de Ingeniería Electrónica</i> en el <b><font color= black>ITM</font></b> de Robledo en el 2008, donde cursé 3 semestres 
            y me retiré por disponibilidad laboral. 
            <br> Realicé un curso de Inglés Avanzado en <b><font color= black> OG Enterteinment </font></b> durante 9 meses en el año 2014.
            <br> <br> Actualmente me encuentro en la etapa final de la Tecnología en Desarrollo de Software en el <b><font color= black> SENA </font></b>.
          </p>
          <!-- Pendiente Enlace o link para ver la información completa -->
          <a href="#" class="primary-btn text-uppercase">Ver la Información Completa</a>
        </div>
      </div>
    </div>
  </section>


    <!-- Sección de Foto de Perfil Wolf -->
    <section class="home-about-area pt-30">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-5 col-md-5 home-about-center">
              <img class="img-fluid" src="..\static\core\media\img\Wolf.jpg" width="300" height="250" alt="Imagen de Perfil">
            </div>
    
            <!-- Descripción sobre el perfil Wolf -->
            <div class="col-lg-7 col-md-1 home-about-right">  
              <h2 class="text-uppercase">Felipe Robles</h2>
              
              <p>
                <br> Oriundo de Bello, nacido en el año 1993. <br>
                Graduado del <b> <font color= black>Instituto Pre-universitario de Bello </font> </b>,
                Hábil para el <i>Diseño Gráfico</i> por una técnica realizada y no finalizada en el <b> <font color= black> CESDE </font> </b> en el 2014. 
                <br> <br> Actualmente me encuentro en la etapa final de la Tecnología en Desarrollo de Software en el <b><font color= black> SENA </font></b>.
              </p>
              <!-- Pendiente Enlace o link para ver la información completa -->
              <a href="#" class="primary-btn text-uppercase">Ver la Información Completa</a>
            </div>
          </div>
        </div>
      </section>


  <!-- Sección de Habilidades y Servicios -->

  <section class="services-area section-gap">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="menu-content  col-lg-7">
          <div class="title text-center">
            <h1 class="mb-10">Otros Servicios & Habilidades</h1>
            <p> Ofrecemos diversidad de servicios según las capacidades y habilidades con las que contamos.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="single-services">
            <span class="lnr lnr-picture"></span>
            <a href="#"><h4>Diseño Web</h4></a>
            <p>
              Diseño y maquetación Web, Landing Pages y diferentes Herramientas Online para su empresa.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-services">
            <span class="lnr lnr-laptop-phone"></span>
            <a href="#"><h4>Desarrollo Web</h4></a>
            <p>
              Codificaciónd de principio a fin ajustable a la maquetación ya diseñada o con una plantilla en blanco.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-services">
            <span class="lnr lnr-camera"></span>
            <a href="#"></a><h4>Fotografía</h4></a>
            <p>
              Excelentes capturas fotográficas con experiencia de alta calidad para los anexos ilustrativos en su web. 
            </p>
          </div>
        </div>

        <div class="col-lg-6 col-md-6">
          <div class="single-services">
            <span class="lnr lnr-tablet"></span>
            <a href="#"><h4>Aplicaciones Móviles</h4></a>
            <p>
              Si desea que su desarrollo cuente con tecnología móvil para las diferentes plataformas operativas, cuéntenos! para poderle brindar opciones que satisfagan sus necesidades.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-services">
            <span class="lnr lnr-rocket"></span>
            <a href="#"><h4>Diseño Gráfico</h4></a>
            <p>
              Contamos con un talentoso equipo de desarrollo "Master" para que sus ideas sean plasmadas y diseñadas mucho mejor de como lo puede soñar.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- Sección y separador en medio de la web con datos numéricos por resultados-->
  <section class="facts-area section-gap" id="facts-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 single-fact">
          <h1 class="counter">100</h1>
          <p>Plantillas Básicas</p>
        </div>
        <div class="col-lg-3 col-md-6 single-fact">
          <h1 class="counter">100</h1>
          <p>Plantillas Profesionales</p>
        </div>
        <div class="col-lg-3 col-md-6 single-fact">
          <h1 class="counter">500</h1>
          <p>Profesionales en línea</p>
        </div>
        <div class="col-lg-3 col-md-6 single-fact">
          <h1 class="counter">325</h1>
          <p>Empleos Obtenidos</p>
        </div>
      </div>
    </div>
  </section>


  <section class="portfolio-area section-gap" id="portfolio">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="menu-content pb-70 col-lg-8">
          <div class="title text-center">
            <h1 class="mb-10">Últimos Proyectos Característicos</h1>
            <p>Puedes apoyarte en nuestras plantillas básicas y profesionales.</p>
          </div>
        </div>
      </div>

      <!-- Formatos Hojas de Vida en https://www.modelocurriculum.net/plantillas -->
<!--
      <div class="filters">
        <ul>
          <li class="active" data-filter="*">Todas</li>
          <li data-filter=".vector">Vector</li>
          <li data-filter=".raster">Raster</li>
          <li data-filter=".ui">UI/UX</li>
          <li data-filter=".printing">Printing</li>
        </ul>
      </div>
-->
      <div class="filters-content">
        <div class="row grid">
          <div class="single-portfolio col-sm-4 all vector">
            <div class="relative">
              <div class="thumb">
                <div class="overlay overlay-bg"></div>
                <img class="image img-fluid" src="..\static\core\media\img\Formato1.png" alt="Formato HV1">
              </div>
              <a href="..\static\core\media\img\Formato1.png" class="img-pop-up">
                <div class="middle">
                  <div class="text align-self-center d-flex"><img src="..\static\core\media\img\preview.png" alt=""></div>
                </div>
              </a>
            </div>
            <div class="p-inner">
              <h4>Hoja de Vida Actualizada</h4>
              <div class="cat">Pantilla 1</div>
            </div>
          </div>
          <div class="single-portfolio col-sm-4 all raster">
            <div class="relative">
              <div class="thumb">
                <div class="overlay overlay-bg"></div>
                <img class="image img-fluid" src="..\static\core\media\img\Formato2.png" alt="Formato HV2">
              </div>
              <a href="..\static\core\media\img\Formato2.png" class="img-pop-up">
                <div class="middle">
                  <div class="text align-self-center d-flex"><img src="..\static\core\media\img\preview.png" alt=""></div>
                </div>
              </a>
            </div>
            <div class="p-inner">
              <h4>Hoja de Vida Pública</h4>
              <div class="cat">Pantilla 2</div>
            </div>
          </div>
          <div class="single-portfolio col-sm-4 all ui">
            <div class="relative">
              <div class="thumb">
                <div class="overlay overlay-bg"></div>
                <img class="image img-fluid" src="..\static\core\media\img\Formato3.png" alt="Formato HV3">
              </div>
              <a href="..\static\core\media\img\Formato3.png" class="img-pop-up">
                <div class="middle">
                  <div class="text align-self-center d-flex"><img src="..\static\core\media\img\preview.png" alt=""></div>
                </div>
              </a>
            </div>
            <div class="p-inner">
              <h4>Hoja de Vida para Llenar</h4>
              <div class="cat">Pantilla 3</div>
            </div>
          </div>
          <div class="single-portfolio col-sm-4 all printing">
            <div class="relative">
              <div class="thumb">
                <div class="overlay overlay-bg"></div>
                <img class="image img-fluid" src="..\static\core\media\img\Formato4.png" alt="Formato HV4">
              </div>
              <a href="..\static\core\media\img\Formato4.png" class="img-pop-up">
                <div class="middle">
                  <div class="text align-self-center d-flex"><img src="..\static\core\media\img\preview.png" alt=""></div>
                </div>
              </a>
            </div>
            <div class="p-inner">
              <h4>Hoja de Vida para Completar</h4>
              <div class="cat">Pantilla 4</div>
            </div>
          </div>
          <div class="single-portfolio col-sm-4 all vector">
            <div class="relative">
              <div class="thumb">
                <div class="overlay overlay-bg"></div>
                <img class="image img-fluid" src="..\static\core\media\img\Formato5.png" alt="Formato HV5">
              </div>
              <a href="..\static\core\media\img\Formato5.png" class="img-pop-up">
                <div class="middle">
                  <div class="text align-self-center d-flex"><img src="..\static\core\media\img\preview.png" alt=""></div>
                </div>
              </a>
            </div>
            <div class="p-inner">
              <h4>Hoja de Vida Profesional Word</h4>
              <div class="cat">Pantilla 5</div>
            </div>
          </div>
          <div class="single-portfolio col-sm-4 all raster">
            <div class="relative">
              <div class="thumb">
                <div class="overlay overlay-bg"></div>
                <img class="image img-fluid" src="..\static\core\media\img\Formato6.png" alt="Formato HV6">
              </div>
              <a href="..\static\core\media\img\Formato6.png" class="img-pop-up">
                <div class="middle">
                  <div class="text align-self-center d-flex"><img src="..\static\core\media\img\preview.png" alt=""></div>
                </div>
              </a>
            </div>
            <div class="p-inner">
              <h4>Hoja de Vida Azul</h4>
              <div class="cat">Pantilla 6</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Comentarios Acerca -->
  <section class="testimonial-area section-gap">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="menu-content pb-70 col-lg-8">
          <div class="title text-center">
            <h1 class="mb-10">Comentarios acerca de Nosotros </h1>
            <p>Comentarios que dejan algunos de nuestros usuarios sobre el uso de la plataforma  .</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="active-testimonial">
          <div class="single-testimonial item d-flex flex-row">
            <div class="thumb">
              <img class="img-fluid" src="..\static\core\media\img\wolf.jpg" width=140 alt="Felipe">
            </div>
            <div class="desc">
              <p> <br> <br> 
                La plataforma es fácil de usar, muy amigable a nivel de entorno, cantidad de links y procedimientos para cargar el Curriculum.
              </p>
              <h4>Felipe Robles</h4>
              <p>Graphic Designer</p>
            </div>
          </div>


          <div class="single-testimonial item d-flex flex-row">
            <div class="thumb">
             <img class="img-fluid" src="..\static\core\media\img\Mao1.jpg" width=190 alt="Mauro">
           </div>
           <div class="desc">
            <p> <br>
              Con el propósito de poder tener acceso desde cualquier lugar, sería bueno que se implementara el desarrollo móvil ya que es muy útil a la hora de la actualización de mi información.
            </p>
            <h4>Andrés M. Monsalve</h4>
            <p>QA Tester</p>
          </div>
        </div>

        <div class="single-testimonial item d-flex flex-row">
            <div class="thumb">
             <img class="img-fluid" src="..\static\core\media\img\hero-img.png" width=280px alt="Usuario">
           </div>
           <div class="desc">
            <p>
              Plataforma altamente recomnendada para principiantes es muy fácil de manejar, ya que cuenta con herramientas simples para carga y edición.
              Muchas gracias por tener en cuenta a las personas que no somos muy hábiles con el manejo de herramientas tecnológicas
            </p>
            <h4>Guillermo Taborda</h4>
            <p>Músico</p>
          </div>
        </div>


      </div>
    </div>
  </div>
</section>



<!-- Seleccionar un plan -->

<!--
<section class="price-area section-gap">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-70 col-lg-8">

         <div class="title text-center">
          <h1 class="mb-10">Choose Your Plan</h1>
          <p>When someone does something that they know that they shouldn’t do, did they.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 single-price">
        <div class="top-part">
          <h1 class="package-no">01</h1>
          <h4>Economy</h4>
          <p class="mt-10">For the individuals</p>
        </div>
        <div class="package-list">
          <ul>
            <li>Secure Online Transfer</li>
            <li>Unlimited Styles for interface</li>
            <li>Reliable Customer Service</li>
          </ul>
        </div>
        <div class="bottom-part">
          <h1>£199.00</h1>
          <a class="price-btn text-uppercase" href="#">Buy Now</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 single-price">
        <div class="top-part">
          <h1 class="package-no">02</h1>
          <h4>Business</h4>
          <p class="mt-10">For the individuals</p>
        </div>
        <div class="package-list">
          <ul>
            <li>Secure Online Transfer</li>
            <li>Unlimited Styles for interface</li>
            <li>Reliable Customer Service</li>
          </ul>
        </div>
        <div class="bottom-part">
          <h1>£299.00</h1>
          <a class="price-btn text-uppercase" href="#">Buy Now</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 single-price">
        <div class="top-part">
          <h1 class="package-no">03</h1>
          <h4>Premium</h4>
          <p class="mt-10">For the individuals</p>
        </div>
        <div class="package-list">
          <ul>
            <li>Secure Online Transfer</li>
            <li>Unlimited Styles for interface</li>
            <li>Reliable Customer Service</li>
          </ul>
        </div>
        <div class="bottom-part">
          <h1>£399.00</h1>
          <a class="price-btn text-uppercase" href="#">Buy Now</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 single-price">
        <div class="top-part">
          <h1 class="package-no">04</h1>
          <h4>Exclusive</h4>
          <p class="mt-10">For the individuals</p>
        </div>
        <div class="package-list">
          <ul>
            <li>Secure Online Transfer</li>
            <li>Unlimited Styles for interface</li>
            <li>Reliable Customer Service</li>
          </ul>
        </div>
        <div class="bottom-part">
          <h1>£499.00</h1>
          <a class="price-btn text-uppercase" href="#">Buy Now</a>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="recent-blog-area section-gap">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 pb-30 header-text">
        <h1>Latest posts from our blog</h1>
        <p>
          You may be a skillful, effective employer but if you don’t trust your personnel and the opposite, then the chances of improving and expanding the business
        </p>
      </div>
    </div>
    <div class="row">
      <div class="single-recent-blog col-lg-4 col-md-4">
        <div class="thumb">
          <img class="f-img img-fluid mx-auto" src="img/b1.jpg" alt="">
        </div>
        <div class="bottom d-flex justify-content-between align-items-center flex-wrap">
          <div>
            <img class="img-fluid" src="img/user.png" alt="">
            <a href="#"><span>Mark Wiens</span></a>
          </div>
          <div class="meta">
            13th Dec
            <span class="lnr lnr-heart"></span> 15
            <span class="lnr lnr-bubble"></span> 04
          </div>
        </div>
        <a href="#">
          <h4>Break Through Self Doubt
          And Fear</h4>
        </a>
        <p>
          Dream interpretation has many forms; it can be done be done for the sake of fun, hobby or can be taken up as a serious career.
        </p>
      </div>
      <div class="single-recent-blog col-lg-4 col-md-4">
        <div class="thumb">
          <img class="f-img img-fluid mx-auto" src="img/b2.jpg" alt="">
        </div>
        <div class="bottom d-flex justify-content-between align-items-center flex-wrap">
          <div>
            <img class="img-fluid" src="img/user.png" alt="">
            <a href="#"><span>Mark Wiens</span></a>
          </div>
          <div class="meta">
            13th Dec
            <span class="lnr lnr-heart"></span> 15
            <span class="lnr lnr-bubble"></span> 04
          </div>
        </div>
        <a href="#">
          <h4>Portable Fashion for
          young women</h4>
        </a>
        <p>
          You may be a skillful, effective employer but if you don’t trust your personnel and the opposite, then the chances of improving.
        </p>
      </div>
      <div class="single-recent-blog col-lg-4 col-md-4">
        <div class="thumb">
          <img class="f-img img-fluid mx-auto" src="img/b3.jpg" alt="">
        </div>
        <div class="bottom d-flex justify-content-between align-items-center flex-wrap">
          <div>
            <img class="img-fluid" src="img/user.png" alt="">
            <a href="#"><span>Mark Wiens</span></a>
          </div>
          <div class="meta">
            13th Dec
            <span class="lnr lnr-heart"></span> 15
            <span class="lnr lnr-bubble"></span> 04
          </div>
        </div>
        <a href="#">
          <h4>Do Dreams Serve As
          A Premonition</h4>
        </a>
        <p>
          So many of us are demotivated to achieve anything. Such people are not enthusiastic about anything. They don’t want to work involved.
        </p>
      </div>
    </div>
  </div>
</section>
 -->



<!-- Sección de Marcas al Pie de la Web - Herramientas para el desarrollo-->

<section class="brands-area">
  <div class="container">
    <div class="brand-wrap">
      <div class="row align-items-center active-brand-carusel justify-content-start no-gutters">
        <div class="col single-brand">
          <a href="https://www.djangoproject.com/" target="_blank">
              <img class="mx-auto" src="..\static\core\media\img\django.png" width=80% alt="Django"></a>
        </div>
        <div class="col single-brand">
          <a href="https://www.mongodb.com/es" target="_blank">
              <img class="mx-auto" src="..\static\core\media\img\mongoDB.png" width=100% " alt="MongoDB"></a>
        </div>
        <div class="col single-brand">
          <a href="https://getbootstrap.com/" target="_blank">
              <img class="mx-auto" src="..\static\core\media\img\bootstrap-4.png" width=80% " alt="Bootstrap"></a>
        </div>
        <div class="col single-brand">
          <a href="https://www.python.org/" target="_blank">
              <img class="mx-auto" src="..\static\core\media\img\Python.png" width=80% " alt="Python"></a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Área de pie de Página al Final, Derechos reservados y Noticias-->
<footer class="footer-area section-gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-6 col-sm-6">
        <div class="single-footer-widget">

          <h4>Sobre Nosotros!
            <br>
            Andrés Mauricio & Felipe Wolf 
          </h4>
          <p>
            Te brindamos la posibilidad de montar tu Hoja de Vida para <br>
            que la edites sobre una de las plantillas que tenemos en el sitio.
          </p>
          <p class="footer-text">
            Copyright &copy;<script type="e66df11062c981cd3edf12a2-text/javascript">document.write(new Date().getFullYear());</script> Todos los derechos reservados <font color= white> Wolf & Mauro</font>.
          </p>
        </div>
      </div>

      <!--Sección Noticias del Pie de Página-->
      
      <div class="col-lg-5 col-md-6 col-sm-6">
        <div class="single-footer-widget">
          <h4>Noticias</h4>
          <p>Ingresa tu correo para mantenerte actualizado</p>
          <div class="" id="mc_embed_signup">
            <form target="_blank" action="#" method="get">
              <div class="input-group">
                <input type="text" class="form-control" name="EMAIL" placeholder="Ingresa tu E-Mail" onfocus="if (!window.__cfRLUnblockHandlers) return false; this.placeholder = ''" onblur="if (!window.__cfRLUnblockHandlers) return false; this.placeholder = 'Ingresa tu E-Mail '" required="" type="email" data-cf-modified-e66df11062c981cd3edf12a2-="">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit">
                    <span class="lnr lnr-arrow-right"></span>
                  </button>
                </div>

<!-- Síguenos en Redes Sociales

                <div class="info"></div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-md-6 col-sm-6 social-widget">      
          <div class="single-footer-widget">
          <h4>Follow Me</h4>
          <p>Let us be social</p>
          <div class="footer-social d-flex align-items-center">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-behance"></i></a>
          </div> 
        
        -->
        
        </div>
      </div>
    </div>
  </div>
</footer>

<script src="..\static\core\js\jquery-3.4.1.min.js" type="e66df11062c981cd3edf12a2-text/javascript"></script>
<script src="..\static\core\js\popper.min.js" type="e66df11062c981cd3edf12a2-text/javascript"></script>
<script src="..\static\core\js\bootstrap.min.js" type="e66df11062c981cd3edf12a2-text/javascript"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA" type="e66df11062c981cd3edf12a2-text/javascript"></script>
<script src="..\static\core\js\easing.min.js" type="e66df11062c981cd3edf12a2-text/javascript"></script>
<script src="..\static\core\js\hoverIntent.js" type="e66df11062c981cd3edf12a2-text/javascript"></script>
<script src="..\static\core\js\superfish.min.js" type="e66df11062c981cd3edf12a2-text/javascript"></script>
<script src="..\static\core\js\jquery.ajaxchimp.min.js" type="e66df11062c981cd3edf12a2-text/javascript"></script>
<script src="..\static\core\js\jquery.magnific-popup.min.js" type="e66df11062c981cd3edf12a2-text/javascript"></script>
<script src="..\static\core\js\jquery.tabs.min.js" type="e66df11062c981cd3edf12a2-text/javascript"></script>
<script src="..\static\core\js\jquery.nice-select.min.js" type="e66df11062c981cd3edf12a2-text/javascript"></script>
<script src="..\static\core\js\isotope.pkgd.min.js" type="e66df11062c981cd3edf12a2-text/javascript"></script>
<script src="..\static\core\js\waypoints.min.js" type="e66df11062c981cd3edf12a2-text/javascript"></script>
<script src="..\static\core\js\jquery.counterup.min.js" type="e66df11062c981cd3edf12a2-text/javascript"></script>
<script src="..\static\core\js\simple-skillbar.js" type="e66df11062c981cd3edf12a2-text/javascript"></script>
<script src="..\static\core\js\owl.carousel.min.js" type="e66df11062c981cd3edf12a2-text/javascript"></script>
<script src="..\static\core\js\mail-script.js" type="e66df11062c981cd3edf12a2-text/javascript"></script>
<script src="..\static\core\js\main.js" type="e66df11062c981cd3edf12a2-text/javascript"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13" type="e66df11062c981cd3edf12a2-text/javascript"></script>
<script type="e66df11062c981cd3edf12a2-text/javascript">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/95c75768/cloudflare-static/rocket-loader.min.js" data-cf-settings="e66df11062c981cd3edf12a2-|49" defer=""></script></body>
</html>